.directory-menu {
<<<<<<< HEAD
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
=======
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
>>>>>>> ac139425e9451ecd268720857dc21aaf1df0b886
