<<<<<<< HEAD
* {
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 20px 40px;
}

a {
  text-decoration: none;
  color: black;
}
=======
body {
    font-family: "Roboto", sans-serif;
    padding: 20px 60px;
}
>>>>>>> ac139425e9451ecd268720857dc21aaf1df0b886
